body{
    background-image: url(./public/HOMEPAGE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    background-color:white;
}

#button{
    position: relative;
    top: 400px;
    left: 650px;

}

#btn{
    height: 40px;
    width: 250px;
    text-decoration: grey;
}