body{
    background-image: url(./public/HOMEPAGE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    background-color:white;
}

#button{
    position: fixed;
    bottom: 20px;
    right: 20px;
   

}

#btn{
    height: 40px;
    width: 250px;
    text-decoration: grey;
}